<div style="text-align: center">
  <div style="padding: 30px"></div>
  <h2> <%= @question %> </h2>
  <p> - You </p>
  <div style="padding: 30px"></div>
  <h2> <%= @answer %> </h2>
  <p> - Coach </p>
  <div style="padding: 30px"></div>
  <%= link_to "Ask a new question", ask_path %>
</div>
